{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href='/css/login.css'>
{% endblock %}

{% block body %}



<nav class="navlogin">
<ul>
<li class="admin"><a href= '{{ url('app_carte_index') }}'>Mes produits</a></li>
<li class="admin"><a href= '{{ url('app_reservation_index') }}'>Mes réservations </a></li>
<li class="admin"><a href= '{{ url('app_infos_index') }}'>Mes informations personnelles</a></li>
<li class="admin"><a href= '{{ url('index_index') }}'>Accueil site</a></li>
</ul>

</nav>
<form method="post" class="mx-auto formresa" style="margin-top: 5em;">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }} 
        </div>
      
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">ESPACE ADMINISTRATEUR</h1>
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    <a class='logout'href="{{ path('app_logout') }}">Logout</a>
</form>

  

{% endblock %}
