
body{
  width:100%;
  height:100%;
}

li {
  list-style-type: none;
}

ul{
  margin-top: 20px;
  display:flex;
  justify-content: space-around;
}

a{
  text-decoration: none;
  color:white;
  background:black;
  border-radius: 15px;
  padding:15px;
}

form{
border:2px solid black;
padding:30px;
border-radius: 20px;
width:40% !important;
height:60% !important;
color:white;
background:black;
margin-top: 10px;
}

input{
  margin-top: 20px;
  margin-bottom: 20px ;
}

button{
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.logout{
  margin-left:5px;
  background: red;
}


@media (max-width: 950px) {
  form{
    width: 98% !important;
   height:80%;
  }
  
  ul{
    flex-direction: column;
    height: 200px;
  }
  
  .logout{
    margin-top: 20px;
    background:red;
  }
.mx-auto{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0!important;
}
  
}