

body{
    display:flex;
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 background: url("https://img.freepik.com/vecteurs-libre/burger-fond_67556-123.jpg");
}
form{
    
    width:70%;
    text-align:center;
    background:rgb(245, 245, 100);
    padding:20px;
    border-radius: 15px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tablebis{
    background:rgb(245, 245, 100);
    border:black 2px solid;
    width:90% !important;
}

.tableshowp{
    background:rgb(245, 245, 100);
    border:black 2px solid;
    width:60% !important;
}

h1{
    text-align: center;
   
}

.montitre{
    width:100%;
    color:rgb(245, 245, 100);
    padding:10px;
    background:black;
    margin-bottom: 15px;
}
.new{
    background:rgb(245, 245, 100);
    padding:10px;
    color:black;
    text-decoration: none;
    margin-bottom:10px;
    border-radius: 15px;;
}

a{
    text-decoration: none;
    background: rgb(245, 245, 100);
    color:black;
    padding:10px;
}


.back{
    border:2px violet solid;
}

.delete{
    background:transparent;
}

.btn{
    text-align: center;
    background:rgb(245, 245, 100);
    border:2px violet solid;
}


.transparent{
    background:transparent;
}

@media (max-width: 950px) {
    .none{display:none
    }
    
    .bottom{
        margin-bottom: 5px;
    }
    .dateresa{
        width:90%;
    }
}