body {
  background: black;
  width: 100vw;
  height: 100vh;
}

form {
  width: 80%;
}
.formresa {
  background: #e0b439;
  width: 40% !important;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 20px;
}

.logo {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 20px;
}

input {
  width: 80%;
}

button {
  background: black !important;
  text-align: center;
  margin-bottom: 30px !important;
  margin-top: 30px !important;
  width: 100px;
  color: #e0b439 !important;
  
}

.accueil{
 margin-bottom: 10px;
  text-decoration: none;
  background:black;
  color:yellow;
  padding:5px;
  border-radius: 5%;
}
.required {
  width: 100%;
}

@media (max-width: 900px) {
  .formresa {
    width: 95% !important;
  }
}
