* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0b439;
  font-family: Questrial, sans-serif;
}

.logo {
  width: 100px;
  height: 100px;
}
.navinfos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: black;
  color: #e0b439;
  margin-bottom: 20px;
  width: 100%;
}
.infos {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #8c7f77;
  border-radius: 5px;
  background-color: black;
}

li {
  list-style-type: none;
}

.coordonnees {
  width: 30%;
  height: 30%;
  padding: 5px;
  border: 2px solid #bf8a9e;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  margin-left: 10px;
}
.pc {
  margin-bottom: 20px;
}

.text {
  width: 80%;
}

.liste {
  width: 60%;
}
.mobile {
  display: none;
}



.accueil{
  text-decoration: none;
  background:black;
  color:yellow;
  padding:5px;
  border-radius: 5%;
  }


@media (max-width: 1106px) {
  .infos {
    
    color: black;
    height:80%;
    font-size: 10px;
    flex-direction: column;
  }
.coordonnees{
  width:90%;
  font-size: 35px;
  height:40%;
  line-height: normal;
}
  .pc {
    display: flex;
    margin: 50px;
    border: 2px solid #8c7f77;
  }
 
  body {
    flex-direction: column;
  }

 .accueil{
   font-size: 45px;
 }

 h1{
   font-size: 40px;
 }
}
