
body{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2b366;
}
.logo {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  top: 2px;
  left: 3px;
  border: 2px solid #e0b439;
}

img{
  width:130px;
  height:130px;
}

.navcarte {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 20vh;
  background: black;
  color: #e0b439;
 
}
.menu {
  width:100%;
  padding-top: 20px;
  padding-left:30px;
  height:auto;
  background-color: #f2b366;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 345px;
  color: #e0b439;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.unecarte {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  width: 90%;
  height: 330px;
  background: black;
  text-align: center;
  border-radius: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}
.nom {
  font-size: 20px;
  font-weight: bold;
}

.imgmenu {
  padding: 10px;
}


.description {
  font-family: fantasy;
  height:100px;
  overflow: auto;
}
.centrer{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.accueil{
  text-decoration: none;
  background:black;
  color:yellow;
  padding:5px;
  border-radius: 5%;
}


@media (max-width: 750px) {
  .menu {
    background-color: #f2b366;
    padding: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 400px;
    color: #e0b439;
  }
  .unecarte {
   
    width: 100%;
    height:90%;
    background: black;
    text-align: center;
    border-radius: 20px;
  }

}
