{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href='/css/reservation.css'>
{% endblock %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
<div class='montitre'>
    <h1>Modifier la réservation</h1>
</div>
    {{ include('reservation/_form.html.twig', {'button_label': 'Update'}) }}


  

    {{ include('reservation/_delete_form.html.twig') }} 
     <a class='back'href="{{ path('app_reservation_index') }}">back to list</a>
{% endblock %}
