{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href='/css/reservation.css'>
{% endblock %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
<div class='montitre'>
    <h1>Liste des réservations</h1>
</div>
    <table class="table tablebis">
        <thead>
            <tr>
                <th class='none'>Id</th>
                <th class='none'>Nom</th>
                <th class='none'>Telephone</th>
                <th class="dateresa">Date</th>
                <th class='none' >Nombre</th>
                <th class>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td class='none'>{{ reservation.id }}</td>
                <td class='none' >{{ reservation.nom }}</td>
                <td class='none'>{{ reservation.telephone }}</td>
                <td class="dateresa">{{ reservation.date ? reservation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td class='none'>{{ reservation.nombre }}</td>
                <td >
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Voir</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
    <a href= '{{ url('app_login') }}'>Administrateur</a>
{% endblock %}
