{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href='/css/styleresa.css' />

{% endblock %}

{% block title %}New Reservation{% endblock %}


{% block body %}

<div class="mx-auto formresa" style="width: 200px;margin-top: 5em;"> 
 <img class="logo" src="https://i.ibb.co/HFkcSgh/logo.png" alt="logo du restaurant dead cow diner" style="width: 100px;height:100px;">
    <h1>Réservez votre table</h1>

    {{ include('reservation/_form.html.twig') }}
     <a class="accueil" href='{{ url('index_index') }}'>ACCUEIL</a>
    </div> 

   

{% endblock %}
