{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href='/css/reservation.css'>
{% endblock %}

{% block title %}Reservation{% endblock %}

{% block body %}
<div class='montitre'>
    <h1>Reservation</h1>
</div>
    <table class="table tableshowp">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reservation.nom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ reservation.telephone }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ reservation.nombre }}</td>
            </tr>
        </tbody>
    </table>


    <a class='btn' href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}   
    <a class='bottom'href="{{ path('app_reservation_index') }}">back to list</a>

{% endblock %}
