<form class="transparent" method="post" action="{{ path('app_infos_delete', {'id': info.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info.id) }}">
    <button class="btn">Delete</button>
</form>
