{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href='/css/admininfos.css'>
{% endblock %}
{% block title %}Edit Infos{% endblock %}

{% block body %}
<div class='montitre'>
    <h1>Modifier Infos</h1>
</div>
    {{ include('infos/_form.html.twig', {'button_label': 'Update'}) }}


{#     {{ include('infos/_delete_form.html.twig') }}  
 #}      <a  class='top'href="{{ path('app_infos_index') }}">back to list</a>

{% endblock %}
