{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href='/css/admininfos.css'>
{% endblock %}
{% block title %}Infos index{% endblock %}

{% block body %}
    <div class='montitre'>
    <h1>Informations </h1>
</div>
    <table class="table tablebis">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th class="none">Mail</th>
                <th class='none'>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info in infos %}
            <tr>
                <td>{{ info.id }}</td>
                <td>{{ info.adresse }}</td>
                <td>{{ info.telephone }}</td>
                <td class='none'>{{ info.mail }}</td>
                <td class='none'>{{ info.description }}</td>
                <td>
                    <a href="{{ path('app_infos_show', {'id': info.id}) }}">show</a>
                    <a href="{{ path('app_infos_edit', {'id': info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>            
       

    </table>
 <a href= '{{ url('app_login') }}'>Administrateur</a>
{% endblock %}
