
{% block stylesheets %}

<link rel="stylesheet" href='/css/styleinfo.css'>
{% endblock %}

    

 <div class="navinfos">
  <img class="logo" src="https://i.ibb.co/HFkcSgh/logo.png" alt="logo du restaurant dead cow diner">
    <h1>Informations générales</h1>
</div>
    
  <div class="infos">

        <div class="googlemap">
            <iframe class="pc"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2909.219089684536!2d3.0114733151259623!3d43.18391357914022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b1ac77508ce4eb%3A0xd555a1b79ae98dcc!2s43%20Av.%20Pr%C3%A9sident%20Kennedy%2C%2011100%20Narbonne!5e0!3m2!1sfr!2sfr!4v1637674263179!5m2!1sfr!2sfr" width="850" height="450" style="border:0;" allowfullscreen="" loading="lazy" alt="plan google map du restaurant">
            </iframe>
           
        </div>

        <div class="coordonnees">
            <div class="text">
               
            </div>
            <div class="liste">
   {% for info in infos %}
                <ul>
                     <li>{{ info.description }}</li>
                    <li>{{ info.adresse }}</li>
                    <li><a href="tel:{{ info.telephone }}">{{ info.telephone }}</a></li>
                    <li><a href="mail:{{ info.mail }}">{{ info.mail }}</a></li>
                </ul>
            </div>
        </div>
    </div>

  {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

            <a class="accueil" href='{{ url('index_index') }}'>ACCUEIL</a>



  