{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href='/css/admininfos.css'>
{% endblock %}


{% block title %}Infos{% endblock %}

{% block body %}

<div class="montitre">
    <h1>Infos</h1>
</div>
    <table class="tableshowp">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ info.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ info.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ info.telephone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ info.mail }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ info.description }}</td>
            </tr>
        </tbody>
    </table>


    <a class="lienproduit" href="{{ path('app_infos_edit', {'id': info.id}) }}">edit</a>


    <a class="lienproduit"href="{{ path('app_infos_index') }}">back to list</a>

    
{% endblock %}
