 
 {% extends 'base.html.twig' %}
 {% block javascripts %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href='/css/style.css' />
{% endblock %}
{% block title %}Carte index{% endblock %}

{% block body %}
 
  <div class="container">
 {% include 'header.html.twig'%}

 <div class="main">
            <div class="index_text">
                <p class="presentation">
                    L’aventure est née de la rencontre de compétences différentes mais complémentaires. Voici notre histoire...
                </p>

                    <button id="btn" onclick="laFonction()" class="btnpopup">voir plus...</button>
               
            </div>
            <div id="popup" class="popup_cache">
                <div class="modal-content">
                    <div class="contenupc">

                        <p class="p1">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia porta mi at ultricies. Fusce commodo eros mauris. Pellentesque facilisis risus eget tellus fringilla, at sagittis ex pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Aliquam egestas pretium lorem id fermentum. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam cursus, quam non commodo ultricies, nunc massa ultricies eros, at luctus est justo varius dolor. Donec sagittis mattis lacus. Aliquam vitae sapien ut libero interdum tincidunt nec vitae quam. In commodo, ante vitae sollicitudin porttitor, enim libero volutpat nisl, ac ornare felis sapien porta urna. Maecenas rhoncus dui eros, at vehicula quam malesuada et. Aenean sagittis odio ut ipsum mattis placerat.
                        </p>

                        <p class="p2">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia porta mi at ultricies. Fusce commodo eros mauris. Pellentesque facilisis risus eget tellus fringilla, at sagittis ex pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Aliquam egestas pretium lorem id fermentum. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam cursus, quam non commodo ultricies, nunc massa ultricies eros, at luctus est justo varius dolor. Donec sagittis mattis lacus. Aliquam vitae sapien ut libero interdum tincidunt nec vitae quam. In commodo, ante vitae sollicitudin porttitor, enim libero volutpat nisl, ac ornare felis sapien porta urna. Maecenas rhoncus dui eros, at vehicula quam malesuada et. Aenean sagittis odio ut ipsum mattis placerat.
                        </p>
                    </div>

                    <div class="contenumobile">

                        <img class="imghistoire" src="https://i.ibb.co/SKWNgp0/B-Monginoux-www-photo-paysage-com-Image-sous-licence-Creative-Commons-BY-NC-ND-Rappel-de-l-origine-d.jpg" alt="burger">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis aliquet lorem, id rutrum risus. Duis mollis faucibus magna ac tristique. Curabitur elementum, velit in cursus fermentum, tellus nunc malesuada tellus, vitae placerat libero arcu id lectus. Vestibulum tincidunt pharetra risus, id elementum lacus faucibus ac. Pellentesque euismod, sapien a convallis scelerisque, nibh urna auctor est, id tincidunt ligula dolor sit amet lectus. Duis gravida magna ut egestas euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        Praesent hendrerit at mauris quis commodo. Mauris viverra massa nisl, et luctus lectus ultrices vel. Suspendisse tempus dui vitae orci convallis, ut finibus lacus volutpat. Praesent feugiat porta ultricies. Integer tincidunt dui sit amet egestas scelerisque. Quisque auctor lorem sit amet facilisis finibus. Duis dapibus orci arcu, nec dictum enim pulvinar eu. In vel efficitur dui. Sed pretium porttitor elit, nec gravida tellus mattis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Nullam eu nunc purus.

                        Nulla consectetur vulputate odio, eget laoreet libero mattis a. Ut tristique ligula quam, vel tincidunt turpis fringilla quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi nec interdum lectus. Nam aliquam sollicitudin ipsum, rhoncus pretium tellus. Quisque laoreet ex vel egestas congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
              
                        </p>
                        <img class="imghistoire" src="https://i.ibb.co/RBNFY0h/Shot-of-young-men-and-women-enjoying-a-party-Group-of-friends-having-drinks-at-nightclub.jpg" alt="gens">
                        <p >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis aliquet lorem, id rutrum risus. Duis mollis faucibus magna ac tristique. Curabitur elementum, velit in cursus fermentum, tellus nunc malesuada tellus, vitae placerat libero arcu id lectus. Vestibulum tincidunt pharetra risus, id elementum lacus faucibus ac. Pellentesque euismod, sapien a convallis scelerisque, nibh urna auctor est, id tincidunt ligula dolor sit amet lectus. Duis gravida magna ut egestas euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        Praesent hendrerit at mauris quis commodo. Mauris viverra massa nisl, et luctus lectus ultrices vel. Suspendisse tempus dui vitae orci convallis, ut finibus lacus volutpat. Praesent feugiat porta ultricies. Integer tincidunt dui sit amet egestas scelerisque. Quisque auctor lorem sit amet facilisis finibus. Duis dapibus orci arcu, nec dictum enim pulvinar eu. In vel efficitur dui. Sed pretium porttitor elit, nec gravida tellus mattis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Nullam eu nunc purus.

                        Nulla consectetur vulputate odio, eget laoreet libero mattis a. 
                        </p>

                        <img class="imghistoire" src="https://i.ibb.co/z8dJqV3/Bbq-Grid-With-Charcoal-braai-and-broil.jpg" alt="gril">

                        <p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis aliquet lorem, id rutrum risus. Duis mollis faucibus magna ac tristique. Curabitur elementum, velit in cursus fermentum, tellus nunc malesuada tellus, vitae placerat libero arcu id lectus. Vestibulum tincidunt pharetra risus, id elementum lacus faucibus ac. Pellentesque euismod, sapien a convallis scelerisque, nibh urna auctor est, id tincidunt ligula dolor sit amet lectus. Duis gravida magna ut egestas euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        Praesent hendrerit at mauris quis commodo. Mauris viverra massa nisl, et luctus lectus ultrices vel. Suspendisse tempus dui vitae orci convallis, ut finibus lacus volutpat. Praesent feugiat porta ultricies. Integer tincidunt dui sit amet egestas scelerisque. Quisque auctor lorem sit amet facilisis finibus. Duis dapibus orci arcu, nec dictum enim pulvinar eu. In vel efficitur dui. Sed pretium porttitor elit, nec gravida tellus mattis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Nullam eu nunc purus.


                        </p>
                        <img class="imghistoire" src="https://i.ibb.co/k2B0GMY/Interior-of-cozy-restaurant-for-gathering-with-friends-with-tables-chairs-no-people.jpg" alt="table">
                        <p class="partie1">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis aliquet lorem, id rutrum risus. Duis mollis faucibus magna ac tristique. Curabitur elementum, velit in cursus fermentum, tellus nunc malesuada tellus, vitae placerat libero arcu id lectus. Vestibulum tincidunt pharetra risus, id elementum lacus faucibus ac. Pellentesque euismod, sapien a convallis scelerisque, nibh urna auctor est, id tincidunt ligula dolor sit amet lectus. Duis gravida magna ut egestas euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        Praesent hendrerit at mauris quis commodo. Mauris viverra massa nisl, et luctus lectus ultrices vel. Suspendisse tempus dui vitae orci convallis, ut finibus lacus volutpat. Praesent feugiat porta ultricies. Integer tincidunt dui sit amet egestas scelerisque. Quisque auctor lorem sit amet facilisis finibus. Duis dapibus orci arcu, nec dictum enim pulvinar eu. In vel efficitur dui. Sed pretium porttitor elit, nec gravida tellus mattis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Nullam eu nunc purus.


                        </p>

                        <img class="imghistoire" src="https://i.ibb.co/4PCCpxG/palo-duro-canyon.jpg" alt="canyon">
                        <p class="partie1">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis aliquet lorem, id rutrum risus. Duis mollis faucibus magna ac tristique. Curabitur elementum, velit in cursus fermentum, tellus nunc malesuada tellus, vitae placerat libero arcu id lectus. Vestibulum tincidunt pharetra risus, id elementum lacus faucibus ac. Pellentesque euismod, sapien a convallis scelerisque, nibh urna auctor est, id tincidunt ligula dolor sit amet lectus. Duis gravida magna ut egestas euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        Praesent hendrerit at mauris quis commodo. Mauris viverra massa nisl, et luctus lectus ultrices vel. Suspendisse tempus dui vitae orci convallis, ut finibus lacus volutpat. Praesent feugiat porta ultricies. Integer tincidunt dui sit amet egestas scelerisque. Quisque auctor lorem sit amet facilisis finibus. Duis dapibus orci arcu, nec dictum enim pulvinar eu. In vel efficitur dui. Sed pretium porttitor elit, nec gravida tellus mattis vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst. Nullam eu nunc purus.
                        </p>



                        <img class="imghistoire" src="https://i.ibb.co/jfddsqg/fd.jpg" alt="pano">

                    </div>

                    <button id="close" class="close" onclick="Close()">X</button>

                </div>

        </div>

                <div class="slide_container">
                    <div class="imgborder1 slider"></div>
                    <div class="imgborder2 slider"></div>
                    <div class="imgborder3 slider"></div>
                    <div class="imgborder4 slider"></div>
                    <div class="imgborder5 slider"></div>
                </div>

        </div>
      
    </div>

 <div class="admin"><a href= '{{ url('app_login') }}'>Administrateur</a></div>

<script src="/js/app.js"></script>
{% endblock %}