{% block javascripts %}{% endblock %}

<div class="container">
    <header>
        <div class="banniere">
            <img class="logo" src="https://i.ibb.co/HFkcSgh/logo.png" alt="logo du restaurant dead cow diner">
                <p class="ouverture">
                    Ouvert du mardi au dimanche, de 12h à 14h et de 14h à 19h
                                    
                </p>
                <div class="marquee-rtl">
                    <div>
                        Le restaurant est
                                                
                        <span id="heure"></span>
                    </div>
                </div>
            </div>
            <div class="menu">

                <ul>

                    <li><a href='{{ url('app_infosaccueil') }}'>Infos</a></li>

                    <li><a href='{{ url('app_menu') }}'>Carte</a></li>

                    <li><a href='{{ url('app_reservation_new') }}'>Réservation</a></li>

                </ul>
            </div>

        </header>
        