{% extends 'base.html.twig' %}


{% block stylesheets %}
<link rel="stylesheet" href='/css/adminproduit.css' />

{% endblock %}

{% block title %}Edit Carte{% endblock %}

{% block body %}
<div class='montitre'>
    <h1>Modifier mon produit</h1>
    </div>
<div class="mx-auto formresa form" >
    {{ include('carte/_form.html.twig', {'button_label': 'Update'}) }}

    
    {{ include('carte/_delete_form.html.twig') }}
   
    </div>    
    <a class='lienmodif' href="{{ path('app_carte_index') }}">back to list</a>

{% endblock %}
