{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href='/css/adminproduit.css' />

{% endblock %}
{% block title %}Gestion de la carte{% endblock %}

{% block body %}

<div class='montitre'>
    <h1>Gestion de la carte</h1>
</div>
    <table class="table tablebis">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th class="none">Photo</th>
                <th>Dispo</th>
                <th class='none'>Description</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte in cartes %}
            <tr>
                <td>{{ carte.id }}</td>
                <td>{{ carte.nom }}</td>
                <td class="none"><img src= {{ asset('uploads/'~ carte.photo ) }} alt="{{carte.nom}}" style="width:200px; height:auto" /img></td>
                <td>{{ carte.disponibilite ? 'Yes' : 'No' }}</td>
                <td class="none">{{ carte.description }}</td>
                <td>{{ carte.prix }}</td>
                <td>
                    <a href="{{ path('app_carte_show', {'id': carte.id}) }}">Voir</a>
                    <a href="{{ path('app_carte_edit', {'id': carte.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="new" href="{{ path('app_carte_new') }}">Create new</a>
    <a href= '{{ url('app_login') }}'>Administrateur</a>
{% endblock %}
