{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href='/css/adminproduit.css' />

{% endblock %}
{% block title %}New Carte{% endblock %}

{% block body %}
<div class='montitre'>
 <h1> Ajouter un produit</h1>
 </div>
<div class="mx-auto new" > 
  
    {{ include('carte/_form.html.twig') }}
    <a href="{{ path('app_carte_index') }}">back to list</a>
</div>
    
{% endblock %}
