{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href='/css/adminproduit.css' />

{% endblock %}


{% block title %}Carte{% endblock %}

{% block body %}
 
<div class="montitre">
    <h1>Mon produit</h1>
</div>
    <table class="table tableshowp">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carte.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ carte.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ carte.photo }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ carte.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ carte.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ carte.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a class='lienproduit' href="{{ path('app_carte_index') }}">Retour liste</a>

    <a class='lienproduit'href="{{ path('app_carte_edit', {'id': carte.id}) }}">Modifier</a>
    <a class='lienproduit' href= '{{ url('app_login') }}'>Administrateur</a>

    {{ include('carte/_delete_form.html.twig') }}
{% endblock %}
